<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css" />
    <title>{% block title %}{% endblock title %} - My Webpage</title>
</head>
<body>
     {% block content %}{% endblock content %}
</body>
<style>
#content-wrap h1{
    font-size: 200%;
    font-weight: bold;
}
#content-wrap h2{
    font-size: 150%;
    font-weight: bold;
}
#content-wrap h3{
    font-size: 130%;
    font-weight: bold;
}
#content-wrap h4{
    font-size: 120%;
    font-weight: bold;
}
#content-wrap h5{
    font-size: 105%;
    font-weight: bold;
}
</style>
</html>